<!-- k-waragai html code -->
<div class="top-page">
	<%= link_to(image_tag("Systan_blue@2x.png", :alt => "しすたん", :class => "img01"), words_path) %>

	<div class="introductory">
	  <h1>しすたんとは？</h1>
	  <p>- Syspedia引用 -</p>
	  <p>シス開用語を調べられる辞書サイト</p>
	  <p>分からないままにしておかない</p>
	  <p>みんなで知識を共有する</p>
	  <p>みんなで作り上げる辞書</p>
	  <p>それが「しすたん」です</p>
	</div>

	<!-- Login Register Button -->
	<div class="button-block">
	<!--   <%= link_to 'ログイン', new_user_session_path, class: "square_btn", id: "login" %> -->
		<%= link_to '新規登録（もちろん無料）', new_user_registration_path, class: "square_btn", id: "register" %>
		<p>または <%= link_to 'ログイン', new_user_session_path, id: "login" %></p>
	</div>
	<!-- Login Register Button -->
</div>
