<p>こんにちは:) しすたん運営部です。<br>
しすたんのご登録ありがとうございます。</p>

<p>以下のリンクにアクセスすると、メールアドレスの確認が完了し、ログインが可能になります。</p>

<p><%= link_to 'アカウントを有効にする', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>※ご登録にお心当たりがない方は、お手数ですがこちらのメールを破棄していただけますようお願い致します。</p>
