<p>こんにちは:) しすたん運営部です。</p>

<p>パスワード変更のリクエストを受け付けました。<br>
以下のリンクからパスワードの再設定の画面へ移れます。</p>

<p><%= link_to 'パスワードを再設定する', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>※もし変更のリクエストをしていない場合は、このメールを無視してください。<br>
上記のリンクにアクセスするまで、パスワードは変更されません。</p>
